@charset "utf-8";
/*Style for body*/
body{
	background-color:#f6f5f5;
	margin:0px;
	padding:0px;
	height: 100%;
	display: grid;
	/* grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 200px; */
	grid-template-areas: "head"
	  "nav"
	  "top" 
	  "container" 
	  "bottom"
	  "footer";
}


/*To display 'This pages was built using Flexbox Layout' on the top*/
.head{
	/* display: grid; */
	grid-area: head;
	/* display: subgrid; */
	display: inline-grid;
    justify-content: center;
}

/*To style all the main headings like content, portfolio and contact*/
h1{
	font-family: calibri;
	font-size: 25px;
	color: #505050;
}

/*To set menubar*/
#navside{grid-area:cpanel;}
#logo{grid-area:logo;}
#option1{grid-area:opt1;}
#option2{grid-area:opt2;}
#option3{grid-area:opt3}
#navbar{
	/* display:grid; */
	grid-area: nav;
	display: inline-grid;
	background-color: rgb(248, 247, 247);
	width: 100%;
	grid-template-areas:'cpanel cpanel logo logo logo logo opt1 opt2 opt3' ;
}


/*Each menu option is set in anchor tag. To style each menu item*/
#navbar a {
	font-family:calibri;
	letter-spacing: 4px;
	color: #131212;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
}
/*Style when we hover over the menuitem*/
#navbar a:hover {
	border-bottom: 6px solid #fac6d2;
}

/*Style the content panel(Refered from w3school)*/
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}  
/*Align main items in the conten panel*/
.sidenav .navside{	
	font-size:30px;
	cursor:pointer;
}
/*Styling the closing button on content panel*/
.sidenav .closebtn {
	text-decoration: none;
	color:white;
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  /*Style the button for each content panel. Each main item is set as a button*/
  .sidenav button{
	background-color:  #111;
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	transition: 0.3s;
}
  
  /*To set the size of view port*/
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }

  /*Style the sub item*/
  .collapse {
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
  }

   /*Style whwn hover over the subitem*/
  .active, .collapse:hover {
	color: #f1f1f1;
  }

  /*To set the top styling design*/
#top{
	width: 100%;
	height:95vh;
	background-color: #65dbd5;
	position: relative;
	background-size:cover;
}

/*Alignment for the main image. It is set to right so we are using float right*/
#topimg{
	display: grid;
	grid-area: cimage;
}
#top img{
grid-area: cimage;
margin-top: 25px;
width:auto;
height: 90vh;
}

/*To set the logo */
#top h1{
font-size: 50px;
}

/*To style the line after the logo*/
#top #fline{
	font-weight: 100;
	font-size: 30px;
}

/*To style the second line after the logo*/
#top #sline{
	font-weight: 50;
	font-size: 20px;
}

/*Align the text content of the top portion*/
#toptext{
	grid-area:text;
  	position: absolute;
	left: 25%;
	top: 32%;
	transform: translate(-13%, -42%,);
}
#top{
	grid-area: top;
	display:inline-grid;
	grid-template-areas: 'text text text cimage';
	grid-gap: 25px;
}

/*Style button on the top*/
#toptext button{
	width:150px;
	height: 40px;
	background-color: #65dbd5;
	color:black;
	border:3px solid black; 
}

/*Style the text inside the button*/
#toptext a{
	text-decoration: none;
	font-size: medium;
	font-weight: 100;
	color:black;
}
/*Style content panel*/
  .content {
	color: #818181;
	padding:  8px 8px 8px 32px;
	display: none;
	overflow: hidden;
  }
  /*Style the subitem in the content panel*/
  .content ul{
	list-style-type:none;
  }
  .content li{
	margin-top: 10px;
    border-bottom-color:1px solid grey;
  }
.content a{
	color: #818181;
	text-decoration: none;
	font-family:calibri;
	font-size: 20px;
}
.content a:hover{
	color: #f1f1f1;
}


/*Grid Layout*/
.caption2{grid-area:cap2;}
.tile1 { grid-area: one; }
.tile2 { grid-area: two; }
.tile3 { grid-area: three; }
.tile4 { grid-area: four; }
.tile5 { grid-area: five; }
.tile6 { grid-area: six;}
.tile7 { grid-area:seven;}

.grid-container {
	grid-area: container;
  	display: grid;
	  grid-template-areas:
	  		'cap2 cap2 cap2 cap2 cap2 cap2'
    		'one one one two two two'
    		'three three three three three three'
    		'four four six six six six'
    		'five five six six six six'
    		'seven seven seven seven seven seven';
    	grid-gap: 22px;
	margin:auto;
	margin-bottom: 20px;
    	max-width:1220px; 
}

.grid-container > div {
  margin:auto;
}

.grid-container h1{
	text-align: center;
	font-family:calibri;
	letter-spacing: 4px;
}
.grid-container a{
	text-decoration: none;
}
.grid-container a:hover{
	opacity: 100%;
}

/*Style the tiles in content area*/
.box1{
	text-align: center; 
	width:600px;  
	height:370px; 
}
.box2{
	text-align: center; 
	width:1225px;  
	height:500px;
}
.box3{
	text-align: center; 
	width:600px;  
	height:178px; 
}
.first{  
	 background-color:#65dbd5; 
 }
.second{  
	background-color:#000000;  
}
.third{  
	background-color:#fac6d2;  
}
.fourth{  
	background-color:#e9d9d6;  
}
.fifth{  
	background-color:#e2aea6;  
}
.sixth{  
	background-color:#65dbd5;  
}
.seventh{  
	background-color:#e9d9d6;  
}
/*Style the image inside the tiles*/
.first img{
	width: 40%;
	height: auto;
}
.second img{
	margin-top: 20%;
	width: 40%;
	height: auto;
}

.third img{
	margin-top: 5%;
	width: 35%;
	height: auto;
}
.fourth img{
	width: 35%;
	height: auto;
}
.fifth img{
	width: 30%;
	height: auto;
}
.sixth #continue{
	margin: 25%;
}
.seventh img{
	width: 50%;
	height: auto;
}
/*Style the description on the tile*/
.hideitem p{
	opacity: 0;
	position: absolute;
	padding: 1%;
	position: relative;
	text-align: center;
	margin:auto;
	color: white;
}
.hide:hover a,
.hide:focus a,
.hide:hover img,
.hide:focus img,
.hide:hover h1,
.hide:focus h1
{
	opacity: 10%;
}
.hide:hover p,
.hide:focus p
{
	opacity: 100;
}

/*Style the area to keep the contact information*/
.bottom{
	grid-area: bottom;
	width: 100%;
	height:40vh;
	text-align: center;
	font-family:calibri;
	letter-spacing: 1px;
	background-color: #e9d9d6;;
    background-repeat:no-repeat;
	background-size:cover;
}

.bottom h1{
	font-family:calibri;
	letter-spacing: 4px;
}
.bottom div{
	margin-top: 50px;
}
/*Style the footer*/
.footer{
	grid-area: footer;
	width: 100%;
	height:10vh;
	text-align: center;
	color: whitesmoke;
	background-color: #0e0d0d;;
    background-repeat:no-repeat;
	background-size:cover;
}